APP_NAME="Russ Rental"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=id
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=russ_rental_mobil
DB_USERNAME=root
DB_PASSWORD=

FILESYSTEM_DISK=public

SESSION_DRIVER=database
SESSION_LIFETIME=120

QUEUE_CONNECTION=database

MAIL_MAILER=log
MAIL_FROM_ADDRESS="concierge@russrental.com"
MAIL_FROM_NAME="${APP_NAME}"

RUSS_RENTAL_WHATSAPP="+62 851-8666-9860"
